@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@600&family=Noto+Sans+KR:wght@700;900&display=swap');

.btn.btn-warning{
  padding: 0.6rem 0.6rem;
}

.myButton {
    background-color: #ffbf00;
    border-radius: 50px;
    border: 3px solid #f5a123;
    display: inline-block;
    cursor: pointer;
    color: #252424;
    font-size: 20px;
    padding: 17px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #ffc107;
}
.myButton:hover {
	background-color:#faaa28;
}
.myButton:active {
	position:relative;
	top:1px;
}

.text1 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px 0 #090000;
    color: #ffbf00;
}



#wrap{
  font-family: 'Noto Sans KR', sans-serif;
  max-width: 700px;
  margin: auto;
  background-image: url(./img/pubg-bg.png);

  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
#main{
  text-align:center;
}

#number{
  text-align: end;
}

#test{
  text-align: center;
  display:none;
}

#result_img{
  margin: auto 0;
  width:48%;
  border: 0.15rem solid #ffc107;
  margin-top: 1em;
}

#sub_img{
  width:75%;
}

#result{
  text-align : center;
  display : none;
  font-size: 1rem;
}

#made{
  color : #ffffff;
  text-align: center;
  font-size : small;
  margin-top: 30px;
}

#description{
	 border-radius: 0.5em;
	 background-color: #ffffff;
	 font-size: 1.1rem;
	 padding: 1.1em;
	 margin-bottom: 1em;
 }

 #A{
  font-size: 0.9rem;
 }
 #B{
  font-size: 0.9em;
 }
 #explain{
   padding: 5px;
   border-radius: 0.5em;
   background-color: #ffffffc7;
   font-size: 1rem;
 }
 #explain2{
   padding: 5px;
   border-radius: 0.5em;
   background-color: #ffffffc7;
   font-size: 1rem;
 }

#title {
    color: white;
    background-color: #292e35;
    padding: 0.3em;
    border-radius: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 4em;
    margin-right: 4em;
    min-width: 100px;
}

#mymbti{
      margin-top: 0.5em;
      color: #000000;
      margin-left: 5em;
      margin-right: 5em;
      border-radius: 1em;
      font-size: 1.25em;

}
