@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


body{
  background-image: url(./img/eg.jpg);
  background-size: cover;

}

.back{
  background-color: white;
}
.myButton {
	box-shadow: 0px 0px 9px 2px #fff6af;
	background-color:#ffe66b;
	border-radius:27px;
	border:3px solid #ff9900;
	display:inline-block;
	cursor:pointer;
	color:#242424;
	font-family:Arial;
	font-size:20px;
	padding:17px 39px;
	text-decoration:none;
	text-shadow:0px 1px 15px #ffee66;
}
.myButton:hover {
	background-color:#faaa28;
}
.myButton:active {
	position:relative;
	top:1px;
}




#wrap{
  font-family: 'Jua', sans-serif;
  max-width: 500px;
  margin: 30px auto;
}
#main{
  text-align:center;
}

#number{
  text-align: end;
}

#test{
  text-align: center;
  display:none;
}

#result_img{
  margin: auto 0;
  width:50%;
}

#result{
  text-align : center;
  display : none;
}

#made{
  color : #A4A4A4;
  text-align: center;
  font-size : small;
  margin-top: 30px;
}
